@mixin safe-area($top: true, $bottom: true) {
  $padding-bottom: 0px;
  $padding-top: 0px;
  
  @if $top {
    $padding-top: env(safe-area-inset-top);
  }
  @if $bottom {
    $padding-bottom: env(safe-area-inset-bottom);
  }
  
  height: calc(100% - $padding-top - $padding-bottom);
  overflow: auto;
  padding-bottom: $padding-bottom;
  padding-top: $padding-top;
}
