.inhibit-contextual-touch-action {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.disabled, :disabled {
  cursor: default;
  opacity: 25%;
  background: none;
}

div.spacer {
  flex: auto;
}

.absolute-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1000;
}

.absolutely-centered-block {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
