[submodule "submodules/design-tokens"]
	path = submodules/design-tokens
	url = git@github.com:xtiandiaz/design-tokens.git
[submodule "submodules/tungsten"]
	path = submodules/tungsten
	url = git@github.com:xtiandiaz/tungsten.git
