@use '@design-tokens/palette';
@use '@/assets/varties';

* {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  overscroll-behavior: none;
  @include palette.color-attributes((
    'color': varties.$body-color,
    'background-color': varties.$secondary-background-color
  ));
}

html, body, #app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.disabled, :disabled {
  cursor: default;
  opacity: 25%;
  background: none;
}

.flex-spacer {
  flex: auto;
}

h1.large-title {
  margin-bottom: 0;
  margin-left: 0.25em;
}
