h1.large-title {
  margin-bottom: 0;
  margin-left: 0.25em;
}

.disabled, :disabled {
  cursor: default;
  background: none;
  opacity: 0.25;
  pointer-events: none;
}

.flex-spacer {
  flex: auto;
}
