$nav-bar-h-padding: 0.25rem;
$nav-bar-height: 3.5rem;
$nav-bar-z-index: 100;
$search-bar-height: 5rem;
$item-gap: 1rem;

.item-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: $item-gap;
}
