@use '@design-tokens/palette';

$nav-bar-padding: 0.25em;
$nav-bar-height: calc(3em + $nav-bar-padding * 2);
$item-gap: 1em;

.item-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: $item-gap;
  
  div.spacer {
    flex: auto;
  }
}

nav {
  &.filled {
    @include palette.color-attribute('background-color', 'secondary-background');
  }
}
