@use '@design-tokens/palette';
@use '@design-tokens/utils';

$nav-bar-h-padding: 0.25em;
$nav-bar-height: 3.5em;
$item-gap: 1em;

.scroll-shade-target {
  --scroll-shade-threshold: #{utils.px($nav-bar-height / 2)};
}

.item-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: $item-gap;
  
  div.spacer {
    flex: auto;
  }
}
