@use '@/assets/varties';
@use '@design-tokens/palette';
@use '@design-tokens/typography';

$min-height: 3em;

button {
  align-items: center;
  background: none;
  border: none;
  display: inline-flex;
  font-size: 1em;
  justify-content: center;
  min-height: $min-height;
  padding: 0;
  @include palette.color-attribute('color', varties.$tint-color);

  &:disabled {
    opacity: 25%;
  }
  &:hover:enabled {
    cursor: pointer;
  }
  
  &.icon-button {
    $size: $min-height;
    $icon-size: calc($min-height - 1em);
    
    border-radius: 50%;
    height: $size;
    padding: 0;
    position: relative;
    width: $size;
  
    &:disabled {
      background: none;
    }
  
    label {
      @extend .caption;
      bottom: 0;
      left: 50%;
      position: absolute;
      transform: translate(-50%, calc(100% - 0.5em));
    }
  
    .svg-icon {
      height: $icon-size;
      width: $icon-size;
    }
  }
}
