@use '@/assets/design-tokens/palette';
@use '@/assets/design-tokens/typography';

$max-width: 800px !default;
$row-h-padding: 1em;
$row-min-height: 3em;

section.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0 auto 1em auto;
  max-width: $max-width;
  padding: 0.5em 1em;
  
  div.section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    
    > * {
      width: auto;
    }
    
    &.wrapper {
      border-radius: 1em;
      padding: 0.75em 1em;
      @include palette.color-attribute('background-color', 'background');
    }
    
    div.header, div.footer {
      @extend .caption;
      padding: 0 0 0 1em;
      @include palette.color-attribute('color', 'tertiary-body');
      
      > * {
        display: block;
      }
    }
    
    div.header {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      
      &.inline {
        align-items: center;
        flex-direction: row;
        gap: 0.5em;
      }
      
      span.title {
        @extend .strong;
      }
    }
    
    div.rows {
      border-radius: 1em;
      display: flex;
      flex-direction: column;
      gap: 1px;
      @include palette.color-attributes((
        'background-color': 'tertiary-background'
      ));
      
      div.row {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 0.75em;
        min-height: $row-min-height;
        overflow: hidden;
        padding: 0 $row-h-padding;
        @include palette.color-attribute('background-color', 'background');
        
        &:first-of-type {
          border-radius: 1em 1em 0 0;
        }
        &:last-of-type {
          border-radius: 0 0 1em 1em;
        }
        &:only-of-type {
          border-radius: 1em;
        }
        
        .disclosure-indicator {
          height: 1em;
          width: 1em;
          @include palette.color-attribute('color', 'accessory');
        }
        
        .spacer {
          flex: auto;
        }
      }  
    }
  }
}
