$key-color: 'body' !default;
$key-background-color: 'background' !default;
$pad-max-width: 32em;

div.pad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  max-width: $pad-max-width;
  overflow: hidden;
}
